# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
dist/
build/
out/
squashfs-root/

# Rust
target/

# Bmad
_bmad/
.agent/
.agents/
.claude/
.codex/
.opencode/
.roo/
